@import "@/styles/colors";
@import "@/styles/sizes";

$thumbSize: 24px;
$trackHeight: 2px;
$color: $primary-color;

.slider {
	width: 100%;
	display: grid;
	grid-template-areas: "stack";
	flex-shrink: 1;

	input[type=range] {
		grid-area: stack;

		&::-webkit-slider-thumb {
			width: $thumbSize;
			height: $thumbSize;
			margin-top: max($trackHeight, $thumbSize)/2 - $thumbSize/2;

			appearance: none;
			background-color: $gray-100;
			border: 2px solid $color;
			border-radius: 50%;

			box-shadow: -4px 4px 16px rgb(black, 0.2);
		}

		&::-webkit-slider-runnable-track {
			height: max($trackHeight, $thumbSize);
		}
	}

	.track {
		width: 100%;
		height: $trackHeight;

		grid-area: stack;
		align-self: center;

		background-color: $gray-300;
		overflow: hidden;

		.progress {
			height: 100%;
			background-color: $color;

			transition: width 250ms ease-out;
		}
	}
}