@import "@/styles/colors";
@import "@/styles/sizes";

.anchor {
	color: $primary-color;
	text-decoration: none;

	svg {
		margin-left: $spacing-sm;
		height: $spacing-md;
	}

	&:hover {
		text-decoration: underline;
	}

	&:visited {
		color: $visited-color;
	}
}