@import "@/styles/colors";
@import "@/styles/sizes";

@import "../components/header/style.module.scss";
@import "../components/footer/style.module.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	&:focus {
		outline: none;
	}
}

:root {
	font-size: 12pt;
}

html,
body {
	height: 100%;
}

div {
	display: flex;
}

body {
	display: flex;

	font-family: "Open Sans";
	background-color: $background-color;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
}

section {
	width: 100%;
	max-width: 1024px;
	display: flex;
}

button,
input[type=button],
input[type=submit] {
	padding: $spacing-btn;
	border: none;

	border-radius: 4px;
	background-color: $gray-600;
	color: white;

	cursor: pointer;

	&:hover {}
}

svg {
	height: 16px;
}

.box {
	background-color: $gray-100;
	border: 1px solid $border-color;
	border-radius: $spacing-sm;

	box-shadow: 0px 12px 24px -12px $gray-400;

	overflow: hidden;
}