@import "@/styles/colors";
@import "@/styles/sizes";

.shadowEditor {
	flex-direction: column;
	gap: $spacing-xl;

	$width: 960px;

	.editor {
		width: $width;

		.left {
			position: relative;

			align-items: center;
			justify-content: center;
			flex-grow: 1;

			overflow: hidden;

			.thingy {
				width: 250px;
				height: 150px;

				background-color: $gray-200;
				border: 1px solid $gray-300;
				border-radius: 8px;
			}

			.shadowButtons {
				position: absolute;
				left: 0;
				// bottom: 0;

				ul {
					margin-left: $spacing-lg;

					display: flex;
					flex-direction: column;
					gap: $spacing-sm;

					list-style-type: none;

					li {
						.shadowBtn {
							width: 32px;
							height: 32px;
							padding: 0;

							display: flex;
							align-items: center;
							justify-content: center;

							font-size: 16pt;

							background-color: $gray-100;
							border: 1px solid $gray-200;
							border-radius: 35%;
							color: $gray-300;

							&.selected::after {
								content: "";
								width: 35%;
								height: 35%;
								background-color: $primary-color;
								border-radius: 40%;
							}
						}
					}
				}
			}
		}

		.right {
			width: 350px;
			padding: $spacing-xl;

			background-color: lighten($gray-200, 5%);
			border-left: 1px solid $border-color;

			.settings {
				width: 100%;
				flex-direction: column;
				gap: $spacing-md;

				.row {
					flex-direction: column;
				}

				.deleteBtn {
					background-color: crimson;
				}
			}
		}
	}

	.css {
		width: $width;
		padding: $spacing-3x;
		position: relative;

		font-size: 1rem;

		background-color: $gray-800;
		color: $gray-200;
		overflow: hidden;

		.code {
			flex-direction: column;

			.tab {
				width: 2.45rem;
				display: inline-block;
			}

			.property {
				color: #7fdffc;
			}

			.params {
				color: #9de288;
			}
		}

		.copy {
			top: 0;
			right: 0;
			position: absolute;
			background-color: transparent;

			&:hover {
				background-color: $gray-700;
			}
		}
	}
}