@import "@/styles/colors";
@import "@/styles/sizes";

.clickable {
	display: none;
}

.sidebar {
	width: $sidebarWidth;
	height: 100%;

	display: flex;
	flex-direction: column;

	background-color: $gray-900;
	overflow: hidden;

	transition: width 250ms ease-in-out;

	a {
		padding: $spacing-btn;
		display: flex;

		text-decoration: none;
		white-space: nowrap;
		color: $gray-600;

		transition:
			padding 250ms ease-in-out 0ms,
			background-color 450ms ease-out 0ms,
			color 450ms ease-out 0ms;

		span {
			margin-left: $spacing-sm;

			transition: margin-left 250ms ease-in-out;
		}

		&:hover {
			background-color: $gray-800;
			color: $gray-200;

			transition:
				background-color 250ms ease-out,
				color 250ms ease-out;
		}
	}

	.header {
		height: $sidebarWidthCollapsed;

		.showButton {
			width: $sidebarWidthCollapsed;

			button {
				width: $sidebarWidthCollapsed;
				justify-content: center;
				color: $gray-500;
				background-color: transparent;

				transition: color 250ms ease-in-out;

				&:hover {
					color: $gray-200;
				}
			}
		}

		.title {
			align-items: center;
			flex-grow: 1;

			overflow: hidden;

			h1 {
				font-size: 1.2rem;
				font-weight: normal;
				white-space: nowrap;

				a:hover {
					background-color: transparent;
				}
			}
		}
	}

	.content {
		.nav {
			width: 100%;

			.routes {
				@for $i from 1 through 3 {
					li:nth-child(#{$i}) h2 {
						transition: margin 250ms ease-in-out #{$i * 100 - 100}ms;
					}
				}
			}

			h2 {
				margin: $spacing-btn;

				text-transform: uppercase;
				line-height: 0.8rem;
				font-size: 0.8rem;
				color: $gray-800;

				transition: line-height 250ms ease-in-out;
			}

			ul {
				flex-direction: column;
				list-style-type: none;
			}
		}
	}

	&.collapsed {
		width: $sidebarWidthCollapsed;

		transition-delay: 500ms;

		.content {
			.nav {
				h2 {
					margin: 0;
					margin-left: $sidebarWidth;
					line-height: 0rem;
				}

				a {
					padding: $spacing-lg;
					padding-left: 38px;

					transition:
						padding 250ms ease-in-out 500ms,
						background-color 450ms ease-out 0ms,
						color 450ms ease-out 0ms;

					span {
						margin-left: $spacing-3x;

						transition-delay: 500ms;
					}

					&:hover {
						transition:
							background-color 250ms ease-out,
							color 250ms ease-out;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.clickable {
		&.visible {
			width: 100%;
			height: 100%;

			display: inherit;
			position: fixed;
			top: 0;
			left: 0;

			background-color: rgb(black, 0.1);
		}
	}


}