@import "@/styles/colors";
@import "@/styles/sizes";

.footer {
	height: $footerHeight;

	display: flex;
	align-items: center;
	justify-content: center;

	border-top: 1px solid $gray-200;
	color: $gray-300;
}